@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
* {
  background-color: #d6d6f9;
  color: #2b2b95;
  font-family: "Domine";
}

@media screen and (min-width: 992px) {
  .heading {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .heading__name {
    justify-content: flex-end;
    font-size: 30px;
    align-items: center;
  }
  .heading__links {
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.8rem;
    width: 35%;
    font-size: 1.5rem;
  }
  .heading__links--nav {
    padding: 1.25rem;
    text-decoration: none;
  }
  .heading__links a:hover {
    color: whitesmoke;
    background-color: #9d649d;
    border-radius: 1.5rem;
  }
}
.start {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.start__opening {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 50%;
  font-size: 1.25rem;
}
.start__opening__p {
  max-width: 50%;
  font: "Domine";
}
.start__me--img {
  max-width: 40vw;
  max-height: 50vh;
  border-radius: 1.25rem;
}

.skills {
  display: flex;
  justify-content: space-around;
  height: 3rem;
  font-size: 3rem;
}
.skills__heading {
  font-size: 1.6rem;
}

.Portfolio {
  display: flex;
  justify-content: space-around;
  padding: 1.25rem;
  flex-wrap: wrap;
  margin: 3rem;
}
.Portfolio button {
  border-radius: 1.25rem;
}
.Portfolio button:active {
  background-color: #9d649d;
  color: whitesmoke;
}
.Portfolio__card {
  border: 2px solid #9d649d;
  border-radius: 1rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem;
  box-shadow: 5px 10px #9d649d;
  font-weight: bold;
}

#About {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#About__title {
  display: flex;
}
#About__me {
  width: 50%;
  font: "Domine";
}

.cardCommander {
  display: flex;
  justify-content: space-between;
}
.cardCommander .experienceCard {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.cardCommander .experienceCard h4 {
  font-size: 1.25rem;
}
.cardCommander .experienceCard__1 {
  border: 3px solid #9d649d;
  border-radius: 0.5rem;
  margin: 0.6rem;
  padding: 0.3rem;
}
.cardCommander .experienceCard__2 {
  border: 3px solid #9d649d;
  border-radius: 0.5rem;
  margin: 0.6rem;
  padding: 0.3rem;
}
.cardCommander .experienceCard__3 {
  border: 3px solid #9d649d;
  border-radius: 0.5rem;
  margin: 0.6rem;
  padding: 0.3rem;
}
.cardCommander .interest-title {
  padding: 1.25rem;
}
.cardCommander .interestsCard {
  display: flex;
  flex-direction: column;
  margin: 0.6rem;
  width: 50%;
}
.cardCommander .interestsCard h4 {
  font-size: 1.25rem;
}
.cardCommander .interestsCard__1 {
  border: 3px solid #9d649d;
  border-radius: 0.5rem;
  padding: 1.25rem;
  margin: 0.6rem;
}
.cardCommander .interestsCard__2 {
  border: 3px solid #9d649d;
  border-radius: 0.5rem;
  padding: 1.25rem;
  margin: 0.6rem;
}
.cardCommander .interestsCard__3 {
  border: 3px solid #9d649d;
  border-radius: 0.5rem;
  padding: 1.25rem;
  margin: 0.6rem;
}

.ending {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ending__h1 {
  font-size: 3rem;
}
.ending__contact {
  border: 2px solid #9d649d;
  border-radius: 0.5rem;
  padding: 0.3rem;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 3rem;
}

@media screen and (min-width: 992px) {
  .header {
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
  }

  .start {
    display: flex;
    flex-wrap: wrap;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
  }

  .Portfolio {
    display: flex;
    flex-wrap: wrap;
  }

  #about {
    display: flex;
    flex-wrap: wrap;
  }

  .cardCommander {
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
  }
}