@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

$primaryColor: rgb(43, 43, 149);
$secondaryColor: whitesmoke;
$tertiaryColor: rgb(157, 100, 157);
$mainFont: 'Abril Fatface';
$secondaryFont: 'Domine';

* {
    background-color: rgb(214, 214, 249);
    color: $primaryColor;
    font-family:$secondaryFont;
}

@media screen and (min-width:992px){
.heading {
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;

    &__name {
    justify-content: flex-end;
    font-size: 30px;
    align-items: center;
}
    
    &__links{
    justify-content:flex-start;
    align-items: center;
    margin-top: 1.8rem;
    width: 35%;
    font-size: 1.5rem;
    
    &--nav {
    padding: 1.25rem;
    text-decoration:none;
       }
    
    a:hover {
    color:$secondaryColor;
    background-color:$tertiaryColor;
    border-radius: 1.5rem;
       }

    }
}}
   .start{
    display: flex;
    justify-content: space-around;
    align-items: center;

        &__opening {
            display: flex;
            flex-direction: column;
            padding-bottom: 1rem;
            width: 50%;
            font-size: 1.25rem;


             &__p {
                max-width: 50%;
                font: $secondaryFont;
           
        }
        }

        &__me {

            &--img {
                max-width: 40vw;
                max-height: 50vh;
                border-radius: 1.25rem;
            }
        
        }
   }


   .skills {
    display: flex;
    justify-content: space-around;
    height: 3rem;
    font-size: 3rem;

    &__heading{
        font-size: 1.6rem;
    }

   }

.Portfolio {
    display: flex;
    justify-content: space-around;
    padding:1.25rem;
    flex-wrap: wrap;
    margin: 3rem;

    button {
        border-radius: 1.25rem;
    }

    button:active {
        background-color: $tertiaryColor;
        color:$secondaryColor;
    }
   

  &__card {
    border: 2px solid $tertiaryColor;
    border-radius: 1rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.25rem;
    box-shadow: 5px 10px $tertiaryColor;
    font-weight: bold;
 }
}

#About{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

         &__title {
        display: flex;
             }

         &__me {
        width: 50%;
        font: $secondaryFont;
             }
 
  }



.cardCommander {
    display: flex;
    justify-content: space-between;

   
        .experienceCard {
        display: flex;
        flex-direction: column;
        width: 50%;

        h4 {
            font-size: 1.25rem;
        }

            &__1{
                border: 3px solid $tertiaryColor;
                border-radius: 0.5rem;
                margin: 0.6rem;
                padding: 0.3rem;

            }
            &__2{
                border: 3px solid $tertiaryColor;
                border-radius: 0.5rem;
                margin: 0.6rem;
                padding: 0.3rem;
            }
            &__3{
                border: 3px solid $tertiaryColor;
                border-radius: 0.5rem;
                margin: 0.6rem;
                padding: 0.3rem;

            }
        }

        .interest-title {
            padding: 1.25rem;
        }


        .interestsCard{
            display: flex;
            flex-direction: column;
            margin:0.6rem;
            width: 50%;
            
            
            h4{
                font-size: 1.25rem;
            }
        
    
        
            &__1 {
                    border: 3px solid $tertiaryColor;
                    border-radius: 0.5rem;
                    padding: 1.25rem;
                    margin: 0.6rem;
                    
                    

            }
            &__2 {
                    border: 3px solid $tertiaryColor;
                    border-radius: 0.5rem;
                    padding: 1.25rem;
                    margin: 0.6rem;
                    
            }
            &__3 {
                    border: 3px solid $tertiaryColor;
                    border-radius: 0.5rem;
                    padding: 1.25rem;
                    margin: 0.6rem;
                    
            }
        }

        }



.ending {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__h1 {
        font-size: 3rem;
    }
    &__contact{
        border: 2px solid $tertiaryColor;
        border-radius: 0.5rem;
        padding: 0.3rem;
        text-decoration: none;
    }
}

footer {
    text-align: center;
    padding: 3rem;
}
@media screen and (min-width:992px) {
    .header{
        width:100%;
        height: 60%;
        display: flex;
        flex-wrap: wrap;
    }

    .start{
        display: flex;
        flex-wrap: wrap;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
    }

    .Portfolio{
        display: flex;
        flex-wrap: wrap;
    }

    #about{
        display: flex;
        flex-wrap: wrap;
    }

    .cardCommander{
        display: flex;
        flex-wrap: wrap;
        max-width: max-content;
    }


    
}

