* {
    background-color: rgb(113, 109, 109);
    color: whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
list-style-type: none;
padding: 40px;
}

.name {
    float: left;
    font-size: 30px;
}

.about {
    float: right;

}

p {
    max-width: 50%;
}

.card {
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
}
.contact{
    border-style: solid;
    border-width: 2px;
    border-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
}

img {
    max-width: 400px;
    float: right;
}

.list{
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 50px;
}

#get-in-touch {
    font-size: 50px;
}